body {
    background-color: rgb(43, 43, 43);
    margin: 0;
}

header {
    height: 10vh;
}

main {
    height: 80vh;
    border: 5px solid gray;
    margin: 0px 15px 0px 15px;
    padding: 45px 45px 45px 45px;
    display: flex;
    flex-flow: row;

    gap: 40px;
}

footer {
    height: 10vh;
}

.book {
    background-color: white;
    border: 3px solid gray;
    border-radius: 15px;
    width: 200px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.bookRead {
    background-color: white;
    border: 3px solid rgb(124, 255, 119);
    border-radius: 15px;
    width: 200px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#addBtn-div {
    width: 100px;
    height: 100px;
}

#addBtn {
    width: 100px;
    height: 100px;
    border: 3px solid gray;
    border-radius: 15px;
    font-size: 3rem;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;

    
}

.bookButton {
    width: 75px;
    height: 25px;
}

form {
    background-color: white;
    border: 3px solid gray;
    border-radius: 15px;
    width: 200px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

input {
    width: 150px;
    text-align: center;
}

input[type='number'] {
    width: 45px;
}

.submitBtn {
    width: 100px
}